<td (mouseleave)="onMouseLeave(certificate)">

    <a (click)="onSelected($event)"
        class="description--link"
        [class.active]="show"> {{ certificate.name }} </a>

    <div *ngIf="certificate.description !== '' && show"
        class="description__tooltip"
        [ngClass]="{'description__tooltip--bottom': !arrowBottom , 'description__tooltip--top': arrowBottom}"
        [innerHTML]='certificate.description | safeHtml'
        [style.left.px]="tooltipLeft"
        [style.top.px]="tooltipTop">
    </div>

    <!-- Because Angular 2.4.0 not support ngIfElse conditions.-->
    <div *ngIf="certificate.description === '' && show"
        class="description__tooltip"
        [ngClass]="{'description__tooltip--bottom': !arrowBottom , 'description__tooltip--top': arrowBottom}"
        [style.left.px]="tooltipLeft"
        [style.top.px]="tooltipTop">
        <div>
            No description was found for certificate: <strong>"{{ certificate.name }}"</strong>. Sorry bro :(
        </div>
    </div>
    
</td>
<td> от {{ certificate.price.period[0].cost }} {{ certificate.price.currency }}</td>
